.dental-card{
  width: 300px;
    height: 300px;
      background: #19b4f5;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  transition: 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.dental-card .icon {
  font-size: 30px;
  margin-bottom: 15px;
  color: #003d66;
}
.icon{
      font-size: 30px;
  margin-bottom: 15px;
  color: #003d66;
}

.dental-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: white;
}

.dental-card p {
  font-size: 0.95rem;
  line-height: 1.4;
  margin-bottom: 15px;
  color: #e7f5ff;
  text-align: justify;
}

.read-more {
  font-weight: bold;
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
}

.read-more:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .section-title {
    font-size: 1.8rem;
  }

  .dental-card h3 {
    font-size: 1rem;
  }

  .dental-card p {
    font-size: 0.9rem;
  }
}
.known-section {
  padding: 60px 20px;
  background-color: #fff;
}
.known-section .container{
  display: flex;
}
.content {
  flex: 1;
  min-width: 280px;
}

.content h2 {
  font-size: 2rem;
  color: #1e5bb8;
  margin-bottom: 15px;
}

.content .subtitle {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #444;
}

.content p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #555;
}

.content .btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: #1e5bb8;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.content .btn:hover {
  background-color: #14407c;
  color: wheat;
}

/* Right Image */
.image-container {
  flex: 1;
  text-align: center;
  min-width: 280px;
}

.image-container img {
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .content {
    text-align: center;
  }

  .btn {
    margin: 0 auto;
  }
}