:root {
  --teal: #36C2C9;
  --orange: rgb(241, 90, 34);
  --black: #000000;
  --white: #FFFFFF;

  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Roboto', sans-serif;

  --fs-h1: 42px;
  --fs-h2: 32px;
  --fs-h3: 26px;
  --fs-body: 16px;
  --fs-small: 14px;

  --lh-tight: 1.2;
  --lh-normal: 1.5;
  --lh-loose: 1.8;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');

.main-box{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 100px;
    margin: 100px 0;
    background-color:var(--orange);
      border-radius: 20px;
}
.main-box button{
    height: 70px;
    width: 150px;
    font-size: 1.1rem;
    background: transparent;
    color: #ffffff;
    border: none;
    outline: none;
}
@media (max-width:800px){
    .main-box{
        flex-direction: column;
        gap: 10px;
    }
}
#Diagnostic-test div{
     height: 350px;
}
#Advance-diagnostics .card{
    height: 350px;
}
.card{
    /* height: auto; */
    padding: 0px 3px ;
}
.card h3{
    color: black;
}
.card img{
    width: 100%;
    height: 200px;
}
.main-box .active{
    color: yellow;
}

.hidden{
    display: none;
}
.card-box{
    max-width: 100%;
    width: 300px;
    height:1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    gap: 20px;
    padding: auto;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}
.card-min{
    height: 650px;
}
.card-mid{
    height: 800px;
}
.card-high{
    height: 1000px;
}
.card-box img{
    width: 100%;
    height: 200px;
        border-radius: 10px;
}
.card-box h3{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--teal);
        text-align: center;
}
.card-box li{
  font-size: 1rem;
  font-weight: 700;
}
.card{
    height: 400px;
}
.card img{
    height: 200px;
}
.price-box {
      margin: 15px;
      text-align: center;
      background: #f9f9f9;
      padding: 12px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      position: absolute;
     bottom: 0%;
    }

    .price-box .mrp {
      text-decoration: line-through;
      color: #888;
      font-size: 14px;
      display: block;
    }

    .price-box .offer-price {
      font-size: 20px;
      font-weight: bold;
      color: #28a745;
      display: block;
      margin-top: 5px;
    }

    .price-box .save {
      background: #ff5252;
      color: #fff;
      font-size: 13px;
      padding: 4px 10px;
      border-radius: 12px;
      display: inline-block;
      margin-top: 8px;
    }